.myButton{
  border: 1px blue solid;
  border-radius: 3px;
  width: fit-content;
  height: 20px;
  padding: 10px;
  background-color: burlywood;

  span{
    font-style: italic;
    font-weight: bold;
  }
}